doctype html
html(lang="ru")
  body
    h1 Hello Pug!
    div#root
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    script(type="module", src="./src/index.js")