<!DOCTYPE html>
   html(lang="ru")
      head
        include ../../layout/header/header.pug
        title Сычивальня
        link(rel="stylesheet" href="./index.scss")
      body
        #app
      script(src='./index.js' type='module')
