@import '../../index.scss';
@import '../../components/button/button.scss';
@import '../../pages/profile-settings/components/profile-input/profile-input.scss';

.wrapper {
  width: 100%;
  display: flex;
  min-height: 100%;

  .backNavigation {
    width: 64px;
    background-color: var(--nav-background-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .backBtn {
      width: 28px;
      min-width: 28px;
      height: 28px;
      background-color: var(--primary);
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      cursor: pointer;
    }
  }

  .settings {
    margin: 60px;
    width: 100%;

    &_readonly {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    &__avatar {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .avatar {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: var(--neutral-background-color);
      }

      h2.name {
        text-align: center;
      }
    }

    .field-wrapper,
    .button-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 500px;

      .divider {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
        margin-top: -5px;

        &:last-child {
          display: none;
        }
      }
    }

    .button-wrapper {
      align-items: flex-start;

      .button_link:last-of-type {
        color: red;
      }
    }
  }
}
