.chat-item {
  display: flex;
  gap: 10px;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    transition: background-color 0.3s;
    background-color: #e4edfd;
  }

  &__avatar {
    width: 47px;
    min-width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: var(--neutral-background-color);
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.title {
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: var(--text-color-01);
}

.last-msg {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-02);

  & strong {
    color: var(--text-color-01);
  }
}

.time {
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  color: var(--text-color-02);
}

.count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  & p {
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: var(--white);
  }
}
